:root {
  /* Reset */
  --reset: 0 0 0 0;

  /* Typography */
  --font: "Inter", sans-serif;

  /* Typography Scale (Fluid) */
  --text-size-xs: clamp(0.8rem, calc(0.84rem + -0.06vw), 0.83rem);
  --text-size-s: clamp(1rem, calc(1rem + 0vw), 1rem);
  --text-size-n: clamp(1.2rem, calc(1.18rem + 0.09vw), 1.25rem);
  --text-size-m: clamp(1.44rem, calc(1.4rem + 0.21vw), 1.56rem);
  --text-size-l: clamp(1.73rem, calc(1.65rem + 0.39vw), 1.95rem);
  --text-size-xl: clamp(2.07rem, calc(1.95rem + 0.64vw), 2.44rem);
  --text-size-2xl: clamp(2.49rem, calc(2.29rem + 0.98vw), 3.05rem);
  --text-size-3xl: clamp(2.99rem, calc(2.7rem + 1.44vw), 3.82rem);

  /* Spacing Scale (Static) */
  --space-3xs: 0.25rem;
  --space-2xs: 0.5rem;
  --space-xs: 0.75rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;
  --space-3xl: 6rem;

  /* Spacing Scale (Fluid) */
  --space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.43vw), 0.5rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.41rem + 0.43vw), 0.75rem);
  --space-xs-s: clamp(0.75rem, calc(0.66rem + 0.43vw), 1rem);
  --space-s-m: clamp(1rem, calc(0.83rem + 0.87vw), 1.5rem);
  --space-m-l: clamp(1.5rem, calc(1.33rem + 0.87vw), 2rem);
  --space-l-xl: clamp(2rem, calc(1.65rem + 1.74vw), 3rem);
  --space-xl-2xl: clamp(3rem, calc(2.65rem + 1.74vw), 4rem);
  --space-2xl-3xl: clamp(4rem, calc(3.3rem + 3.48vw), 6rem);

  /* Breakpoints (Under Construction) */
  --breakpoint-tablet: 768px;
  --breakpoint-m: 1024px;
  --breakpoint-l: 1200px;
}

/* Global Reset */
* {
  margin: var(--reset);
  padding: var(--reset);
}

.reset-margin {
  margin: var(--reset) !important;
}

.reset-padding {
  padding: var(--reset) !important;
}

body {
  font-family: var(--font);
}

/* Text Size */
.text-size-3xl {
  font-size: var(--text-size-3xl);
}
.text-size-2xl {
  font-size: var(--text-size-2xl);
}
.text-size-xl {
  font-size: var(--text-size-xl);
}
.text-size-l {
  font-size: var(--text-size-l);
}
.text-size-m {
  font-size: var(--text-size-m);
}
.text-size-n {
  font-size: var(--text-size-n);
}
.text-size-s {
  font-size: var(--text-size-s);
}
.text-size-xs {
  font-size: var(--text-size-xs);
}

/* Text Type */
.text-type-heading {
  font-weight: 600;
  line-height: 1.5;
}
.text-type-subheading {
  font-weight: 500;
  line-height: 1.25;
}
h1.text-type-heading {
  margin-bottom: var(--space-2xs-xs);
}
h2.text-type-heading {
  margin-bottom: var(--space-2xs-xs);
}
h3.text-type-heading {
  margin-bottom: var(--space-2xs-xs);
}
h4.text-type-heading {
  margin-bottom: var(--space-2xs-xs);
}
h5.text-type-heading {
  margin-bottom: var(--space-2xs-xs);
}
.text-type-label {
  margin: var(--reset);
  font-weight: 500;
  line-height: 1.25;
}
.text-type-body {
  margin: 0 0 var(--space-xs-s) 0;
  font-weight: 400;
  line-height: 1.25;
}
.text-type-body.last {
  margin: 0 0 var(--space-m-l) 0;
}

/* General UI */

h1 {
  font-size: 3rem;
}

.quiz-container {
  padding: 0rem 1rem 0rem 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  margin-top: var(--space-m-l);
  margin-bottom: var(--space-s-m);
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-bottom: var(--space-m-l);
  margin-top: var(--space-xs-s);
  gap: var(--space-3xs-2xs);
}

.csvselect {
  padding: var(--space-xs-s);
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #fff;
  color: #333;
}

/* Quiz & Report UI */

.question-wrapper {
  background-color: #f1f1f1;
  border-radius: 1rem;
  padding: var(--space-s-m);
}

.question {
  margin: 0rem 0rem var(--space-m) 0rem;
}

.options {
  display: flex;
  justify-content: space-between;
  gap: var(--space-s-m);
}

/* Can we optimize this and call inline styles to use less CSS? */
.options button {
  background-color: #d3d3d3;
  flex-basis: 25%;
  font-size: var(--text-size-n);
  line-height: 1.5rem;
  padding: var(--space-m-l);
  border-radius: 1rem;
  border: none;
  text-align: left;
  font-family: var(--font);
}

.options button:hover {
  background-color: #acacac;
}

.correct-question {
  background-color: #ccffcd;
  margin-bottom: var(--space-s-m);
  padding: var(--space-m-l);
  border-radius: 1rem;
}

.incorrect-question {
  background-color: #ffcccc;
  margin-bottom: var(--space-s-m);
  padding: var(--space-m-l);
  border-radius: 1rem;
}

.incorrect-answer {
  color: #ff0000;
}

.correct-answer {
  color: #008000;
}

.quiz-progress {
  margin: 0rem 0rem var(--space-m) 0rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.question-wrapper {
  animation: fade-in 0.5s ease-in-out;
}

/* Media Queries */

/* Mobile: Full-Width on Quiz Buttons */
@media screen and (max-width: 768px) {
  .options {
    flex-direction: column;
  }
}

/* Tablet: Heading Spacing */
@media screen and (max-width: 1024px) {
  header {
    margin-top: var(--space-3xs-2xs);
  }
}
